
header {
    background-color: green;
   }
   .header ig {
     width: 1540px;
     height: auto;
   }
   .header {
     padding-bottom: 0px;
     padding-top: 0px;
     text-align: center;
     background: green;
     font-size: 0px;
   }
   body {
   backgrond-image: url("la.jpg");
   margin: 0px;
   background-repeat: no-repeat;
   background-size: 1570px;
   }
   .tar {
   position: relative;
   top: 30px;
   left: 30px;
   }
   .tar img {
    height: 300px;
   }
   .ere {
    font-style: italic;
   }
   .ere2 {
  float:right;
  text-align: center;
  font-weight: bolder;
  text-align: center;
  font-style: oblique;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  white-space: pre-line;
  width: 57%;
  margin: 50px auto auto;
  padding-left: 30px;
  padding-right: 30px;
   }
   .navbar {
     overflow:hidden;
     background-color:black;
   }
   
   .navbar a {
     float: left;
     position: relative;
     height: auto;
     font-size: 20px;
     color: white;
     text-align: center;
     padding: 20px 16px;
     text-decoration: none;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
   }   

   .navbar img {
     float:left;
     height: 60px;
     width: auto;
   }
   .plaatje {
    font-weight: bolder;
    text-align: center;
    font-style: oblique;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    white-space: pre-line;
    width: 65%;
    margin: 50px auto auto;
    padding-left: 30px;
    padding-right: 30px;
   }
   .dropdown {
     float: left;
     overflow: hidden;
   }
   
   .dropdown .dropbtn {
     font-size: 20px;  
     border: none;
     outline: none;
     color: white;
     padding: 20px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
   }
   
   .navbar a:hover, .dropdown:hover .dropbtn {
     background-color:darkslategray
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
   }
   
   .dropdown-content a:hover {
     background-color: #ddd;
   }
   
   .dropdown:hover .dropdown-content {
     display: block;
   }
   .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
   body {
    background-color: green;
   }
   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }