body {
    background-color: yellow;
  }
  
  @media only screen and (max-width: 1023px) {
    body {
      background-color: lightblue;
    }

  }
  navbar {
    background-color: red;
  }
  
  @media only screen and (max-width: 600px) {
    navbar {
      background-color: lightblue;
    }
  }